body {
    text-align: center;
    background: linear-gradient(#52b788, #b7e4c7);
}

h2 {
    color: red;
}
.hero{
    background-image: url("images/Dhanbad1.webp");
    background-size: cover;
}

img {
    width: 100px;
}

.middle {
    padding-top: 10px;
    
}
.landmarks, .activities {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.guide {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 50px auto;
    background: rgb(202, 56, 153);
    padding: 10px 10px;
}

#guide-detail {
    margin: 0px 10px;
}
